/* ——————————————————————————— */
/* —————————— Reset —————————— */
/* ——————————————————————————— */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ——————————————————————————— */
/* —————————— Common ————————— */
/* ——————————————————————————— */

body{
    background-color: rgb(215, 219, 215);
    font-family: 'Roboto', sans-serif;
}

.bg-head{
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 15vh;
    background-color: rgb(0, 150, 136);
}

.prelative{
    position: relative;
}


/* ———————————————————————— */
/* ————————— Flex ————————— */
/* ———————————————————————— */

.row {display: flex; flex-wrap: wrap;}
.row-vert {flex-direction:column;}

.justify-evenly {justify-content: space-evenly;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-start {justify-content: flex-start;}
.justify-start {justify-content: flex-end;}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}
.align-stretch {align-items: stretch;}

.align-self-start {align-self: flex-start;}
.align-self-end {align-self: flex-end;}


/* ——————————————————————————— */
/* —————————— Layout ————————— */
/* ——————————————————————————— */

.container-nested{
    width:85%;
    margin:auto;
}

.app-container{
    width:80%;
    height:92vh;

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

aside{
    width: 380px;
}

main, main footer{
    width: calc(100% - 380px);
}

.h-90{
    height:90px;
}

.app-container header{
    background-color: rgb(234, 234, 234);
    padding:0 20px;
}

main > header,
main > footer{
    border-left: 1px solid rgb(214, 214, 214);
}

.app-container header img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}

.icons-container i{
    font-size:1.3rem;
    color: rgb(177, 177, 177);
    margin-left:15px;
    cursor: pointer;
}


/* —————————————————————————— */
/* —————————— Text —————————— */
/* —————————————————————————— */

.p-2{
    color: #757575;
    font-size:.8rem;
}

/* Message with ellipsis */
.item-txt-container{
    width:50%;
}

.p-cut{
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* —————————————————————————— */
/* —————————— Aside ————————— */
/* —————————————————————————— */

.banner{
    background-color: rgb(142, 218, 252);
}

.banner-text-container a,
.banner-text-container a:hover,
.banner-text-container a:focus,
.banner-text-container a:visited,
.banner-text-container a:active{
    color: #757575;
    text-decoration: underline;
}

.bell{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-right:10px;
}

.bell i{
    font-size:1.3rem;
    color: rgb(142, 218, 252);
    text-align:center;
    line-height:3rem;
}

.search-container{
    height:60px;
    background-color: rgb(250, 250, 250);
    padding:10px;
}

.search-box{
    width:100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.search-box i{
    width:65px;
    padding:0 25px;
    color: rgb(177, 177, 177);
}

.search-box input[type="search"]{
    height:100%;
    width:calc(100% - 65px);
    padding:10px;
    border:none;
}

.search-box input[type="search"]::placeholder{
    color: rgb(216, 217, 218);
}

aside > .contacts-body{
    background-color: rgb(255, 255, 255);
    height: calc(92vh - 240px);
    overflow-y:scroll;
}

.contacts{
    height:100px;
    width:100%;
    border-bottom:1px solid rgb(245, 245, 245);
    cursor: pointer;
}

.contacts:hover{
    background-color: rgb(245, 245, 245);
}

.active{
    background-color: rgb(245, 245, 245);
}

.contacts img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}


/* ———————————————————————— */
/* ————————— Main ————————— */
/* ———————————————————————— */

main footer{
    background-color: rgb(243, 238, 234);

    position:fixed;
    bottom:0;
    right:0;
    z-index: 10;
    padding:20px 0;
} 

footer .container-nested{
    width:90%;
}

.chat-body{
    width:100%;
    height: calc(92vh - 180px);
    max-height: calc(92vh - 180px);
    background: transparent url(../img/mine.jpg) scroll center repeat;
    background-size: 50%;
    padding:20px;

    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: scroll;  
}

.message{
    border-radius: 8px;
    padding:12px 20px;
    font-size: .9rem;
    box-shadow: 0 3px 3px rgba(136, 136, 136, .2);
    margin-bottom: 20px;
    cursor: pointer;
}

.message > p{
    width:100%;
}

.msg-container{
    display: inline-block;
}

.opt-bg-sent,
.opt-bg-received{
    opacity: 0;
}

.opt-bg-sent{
    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(221, 247, 200);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.opt-bg-received{
    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.opt-bg-sent-show{
    opacity: 1;

    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(221, 247, 200);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}


.opt-bg-received-show{
    opacity: 1;

    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}


.chevron::before{
    content: url(../img/svg/chevron-down.svg);
    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 5px;
    transform: translate(0, 0);
    transition: transform .2s ease;

    opacity: 0;
}

.message:hover > .opt-bg-sent,
.message:hover > .opt-bg-received{
    opacity: 1 !important;
}

.message:hover .chevron::before{
    opacity: 1;
    transform: translate(-3px, 0);
    transition: transform .2s ease;
}

.chevron-show::before{
    opacity: 1;

    content: url(../img/svg/chevron-down.svg);
    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 5px;
    transform: translate(-3px, 0);
}

.msg-options-sent,
.msg-options-received{
    display: none;
}

.options-received-active{
    display: block;
    position: absolute;
    right:5px;
    bottom:50px;
    z-index: 120;

    background-color: #fff;
    font-size: .8rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.options-sent-active{
    display: block;
    position: absolute;
    top: 35px;
    right:10px;
    z-index: 120;

    background-color: #fff;
    font-size: .8rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.options-sent-active li,
.options-received-active li{
    padding: 15px 20px;
    list-style: none;
    cursor: pointer;
}

.options-sent-active li:hover,
.options-received-active li:hover{
    background-color: rgb(245, 245, 245);
}

.received{
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
}

.sent{
    align-self: flex-end;
    background-color: rgb(221, 247, 200);
}

.date{
    align-self:flex-end;
    text-align: right;
    font-size: .6rem;
    margin-top: 4px;
    color: rgb(121, 121, 121);
}

.msg-container{
    height:100%;
}

.msg-container i{
    color: rgb(121, 121, 121);
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.msg-container input[type="text"]{
    width:calc(100% - 80px);
    height:100%;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    margin:0 2%;
}

input[type="text"]:focus{
    outline: none;
    border: 2px solid rgb(0, 96, 223);
    box-sizing: padding-box;
}


/* —————————————————————————————— */
/* ————————— Scrollbars ————————— */
/* —————————————————————————————— */

::-webkit-scrollbar{
    width: 15px;
    background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(177, 177, 177);
}

::-webkit-scrollbar-button:end:vertical:increment{
    background: transparent url(../img/svg/chevron-down.svg) scroll no-repeat center;
    background-size: contain;
    display: block;
    height: 15px;
    width: 15px;
}

::-webkit-scrollbar-button:start:vertical:decrement{
    background: transparent url(../img/svg/chevron-up.svg) scroll no-repeat center;
    background-size: contain;
    display: block;
    height: 15px;
    width: 15px;
    padding:5px;
}