/* ——————————————————————————— */
/* —————————— Reset —————————— */
/* ——————————————————————————— */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ——————————————————————————— */
/* —————————— Common ————————— */
/* ——————————————————————————— */

body{
    background-color: rgb(229, 229, 227);
    font-family: 'Questrial', sans-serif;
}

.prelative{
    position: relative;
}

.f-ico{
    width: 20px;
    height: 20px;
    stroke-width: 1.5px;
    vertical-align: middle;
    cursor: pointer;
}

header .f-ico:nth-child(2){
    margin:0 5px 0 10px;
}

footer .f-ico{
    margin-right:10px;
}

footer .f-ico:last-child{
    margin-right: 15px;
}

#banner .f-ico{
    stroke: rgb(255,255,255);
}

.search-box .f-ico{
    width:65px;
    padding:0 10px 0 5px;
}

input:focus-visible, input:focus{
    outline: none !important;
    border:none !important;
}

.hide{
    opacity:0 !important;
    display: none !important;

    transition: opacity .5s ease;
}


/* ———————————————————————— */
/* ————————— Flex ————————— */
/* ———————————————————————— */

.row {display: flex; flex-wrap: wrap;}
.row-vert {flex-direction:column;}

.justify-evenly {justify-content: space-evenly;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-start {justify-content: flex-start;}
.justify-start {justify-content: flex-end;}

.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.align-center {align-items: center;}
.align-stretch {align-items: stretch;}

.align-self-start {align-self: flex-start;}
.align-self-end {align-self: flex-end;}


/* ——————————————————————————— */
/* —————————— Layout ————————— */
/* ——————————————————————————— */

.container-nested{
    width:85%;
    margin:auto;
}

.app-container{
    width:85%;
    height:92vh;

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba(0,0,0,.1);
}

aside{
    width: 379px;
    background-color: rgb(255, 255, 255);
    color: rgb(42, 45, 48);
}

main, main footer{
    width: calc(100% - 380px);
}

.h-90{
    height:90px;
}

.app-container header{
    padding:0 20px;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(245, 245, 245);
}

.vertical-separator{
    border-right: 1px solid rgb(245, 245, 245);
}

aside > header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.app-container header img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}

/* —————————————————————————— */
/* —————————— Text —————————— */
/* —————————————————————————— */

.p-2{
    font-weight: 400;
    color: #757575;
    font-size:.8rem;
    margin-top: 5px;
}

.p-online{
    color: rgb(205, 52, 75);
}

.p-white{
    color: rgb(255,255,255);
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

/* Message with ellipsis */
.item-txt-container{
    width:50%;
}

.p-cut{
    width:90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* —————————————————————————— */
/* —————————— Aside ————————— */
/* —————————————————————————— */

#banner{
    opacity: 1;
    display: flex;
    background-color: rgb(148, 155, 206);

    transition: opacity .5s ease;
}

.banner-text-container a,
.banner-text-container a:hover,
.banner-text-container a:focus,
.banner-text-container a:visited,
.banner-text-container a:active{
    color: rgb(255,255,255);
    text-decoration: underline;
}

.search-container{
    height: 60px;
    padding: 10px 25px;
}

.search-box{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}

.search-box input[type="search"]{
    height: 100%;
    width: calc(100% - 85px);
    background-color: rgb(245, 245, 245);
    padding: 0px;
    border: none;
}

.search-box input[type="search"]::placeholder{
    color: rgb(177, 177, 177);
}

.contacts-body{
    height: calc(92vh - 240px);
    overflow-y:scroll;

    transition: height .5s ease;
}

.contacts-body-expanded{
    height: calc(92vh - 150px);
    overflow-y:scroll;

    transition: height .5s ease;
}

.contacts{
    height:100px;
    width:100%;
    cursor: pointer;
}

.online:after{
    content: 'online';
    background-color: rgb(205, 52, 75);
    border-radius: 10px;
    margin-left: 10px;
    font-size: .8rem;
    color: white;
    padding: 3px 20px;

    transform: translateX(0);
    transition: transform .3s ease;
}

.contacts:hover{
    background-color: rgb(245, 245, 245);
}

.contacts:hover .online:after{
    transform: translateX(4px);
    transition: transform .3s ease;
}

.active{
    background-color: rgb(245, 245, 245);
}

.contacts img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;
}


/* ———————————————————————— */
/* ————————— Main ————————— */
/* ———————————————————————— */

main footer{
    background-color: rgb(255, 255, 255);

    position:fixed;
    bottom:0;
    right:0;
    z-index: 10;
    padding:20px 0;
} 

footer .container-nested{
    width:90%;
}

.chat-body{
    width:100%;
    height: calc(92vh - 180px);
    max-height: calc(92vh - 180px);
    background-color: rgb(255,255,255);
    background-size: 50%;
    padding:20px;

    /* overflow: -moz-scrollbars-vertical;  */
    overflow-y: scroll;  
}

.message{
    padding:12px 20px;
    font-size: .9rem;
    margin-bottom: 20px;
    cursor: pointer;
    color: rgb(255,255,255);
    max-width: 50%;
    line-height: 1.4;
}

.message > p{
    width:100%;
    margin-bottom: 10px;
}

.msg-container{
    display: inline-block;
}

.opt-bg-sent,
.opt-bg-received{
    opacity: 0;
}

.opt-bg-sent{
    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(245, 245, 245);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.opt-bg-received{
    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(148, 155, 206);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.opt-bg-sent-show{
    opacity: 1;

    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(245, 245, 245);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}


.opt-bg-received-show{
    opacity: 1;

    content: '';
    display: inline-block;
    width: 35px;
    height: 80%;
    padding: 0 5px 0 15px;
    margin-left: 15px;
    background-color: rgb(148, 155, 206);
    filter: blur(4px);

    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.sent .chevron::before{
    content: url(../img/svg/chevron-down.svg);
}

.received .chevron::before{
    content: url(../img/svg/chevron-white.svg);
}

.chevron::before{
    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 5px;
    transform: translate(0, 0);
    transition: transform .2s ease;

    opacity: 0;
}

.message:hover > .opt-bg-sent,
.message:hover > .opt-bg-received{
    opacity: 1 !important;
}

.message:hover .chevron::before{
    opacity: 1;
    transform: translate(-3px, 0);
    transition: transform .2s ease;
}

.sent .chevron-show::before{
    content: url(../img/svg/chevron-down.svg);
}

.received .chevron-show::before{
    content: url(../img/svg/chevron-white.svg);
}

.chevron-show::before{
    opacity: 1;

    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 5px;
    transform: translate(-3px, 0);
}

.msg-options-sent,
.msg-options-received{
    display: none;
}

.options-received-active{
    display: block;
    position: absolute;
    right:5px;
    bottom:50px;
    z-index: 120;
    border-radius: 10px;

    background-color: #fff;
    font-size: .8rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.options-sent-active{
    display: block;
    position: absolute;
    top: 35px;
    right:10px;
    z-index: 120;
    border-radius: 10px;

    background-color: #fff;
    font-size: .8rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.options-sent-active li,
.options-received-active li{
    padding: 15px 20px;
    list-style: none;
    cursor: pointer;
    color:rgb(42, 45, 48);
}

.options-sent-active li:first-child,
.options-received-active li:first-child{
    border-radius: 10px 10px 0 0;
}

.options-sent-active li:last-child,
.options-received-active li:last-child{
    border-radius: 0 0 10px 10px;
}

.options-sent-active li:hover{
    background-color: rgb(148, 155, 206);
    color: rgb(255,255,255);
}

.options-received-active li:hover{
    background-color: rgb(245, 245, 245);
}

.received{
    align-self: flex-start;
    background-color: rgb(148, 155, 206);
    border-radius: 15px 15px 15px 0px;
}

.sent{
    border-radius: 15px 0px 15px 15px;
    align-self: flex-end;
    background-color: rgb(245, 245, 245);
    color: rgb(42, 45, 48);
}

.date{
    align-self:flex-end;
    font-size: .6rem;
    margin-top: 4px;
}

.msg-container{
    height:100%;
}

.msg-container input[type="text"]{
    width: calc(100% - 75px);
    height: 100%;
    border-radius: 50px;
    border: none;
    padding: 0 20px;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

input[type="text"]:focus{
    outline: none;
    border: 2px solid rgb(0, 96, 223);
    box-sizing: padding-box;
}


/* —————————————————————————————— */
/* ————————— Scrollbars ————————— */
/* —————————————————————————————— */

::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(148, 155, 206);
    border-radius: 50px;
}

::-moz-scrollbar{
    width: 8px;
    background-color: rgb(240, 240, 240);
}

::-moz-scrollbar-thumb{
    background-color: rgb(148, 155, 206);
    border-radius: 50px;
}
