<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <title>Boolzapp</title>
</head>
<body>
    <!-- background head start -->
    <div class="bg-head"></div>
    <!-- background head end -->

    <div id="app">
        <!-- app container start -->
        <div class="app-container row">
            <!-- aside start -->
            <aside class="row row-vert justify-start">
                <!-- contacts header start -->
                <header class="h-90 row justify-between align-center">
                    <!-- user start -->
                    <div class="user-container row justify-start align-center">
                        <img src="img/avatar_io.jpg" alt="My Avatar">
                        <p class="names">Nome Utente</p>
                    </div>
                    <!-- user end -->

                    <!-- icons start -->
                    <div class="icons-container">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <!-- icons end -->
                </header>
                <!-- contacts header end -->

                <!-- banner start -->
                <div class="banner h-90 row justify-between align-center">
                    <div class="container-nested row align-center">
                        <div class="bell">
                            <i class="fas fa-bell-slash bell"></i>
                        </div>

                        <div class="banner-text-container">
                            <p class="names">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">
                                <p class="p-2">Attiva notifiche desktop</p>
                            </a>
                        </div>               
                    </div>
                </div>
                <!-- banner end -->

                <!-- search start -->
                <div class="search-container row justify-center align-center">
                    <div class="search-box row align-center">
                        <i class="fas fa-search"></i>
                        <input type="search" name="search" id="search" v-model="search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- search end -->

                <!-- contacts body start -->
                <div class="contacts-body">
                        <!-- contacts start -->
                        <ul class="contacts row align-center" :class="{active: index === activeUl}" v-for="(item, index) in filteredContacts" @click="getChat(item, index)">
                            <li class="container-nested row align-center">
                                <img :src=" 'img/avatar' + item.avatar + '.jpg' " v-bind:alt=" 'Avatar' + item.avatar">
                                <p class="p-1">{{item.name}}</p>
                            </li> 
                        </ul>
                        <!-- contacts end -->
                </div>
                <!-- contacts body end -->
            </aside>
            <!-- aside end -->

            <!-- main - chat start -->
            <main class="prelative row row-vert">
                <!-- chat header start -->
                <header class="h-90 row justify-between align-center">
                    <!-- user start -->
                    <div id="user-container" class="user-container row justify-start align-center">
                        <!-- avatar start -->
                        <img :src="'img/avatar' + contacts[this.counter].avatar + '.jpg'" alt="Avatar">
                        <!-- avatar end -->

                        <!-- username start -->
                        <div id="username-container" class="username-container row row-vert">
                            Michele
                            <p class="p-2">Ultimo accesso alle</p>
                        </div>
                        <!-- username end -->
                    </div>
                    <!-- user end -->
                    
                    <!-- icons start -->
                    <div class="icons-container">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <!-- icons end -->
                </header>
                <!-- chat header end -->

                <!-- chat body start -->
                <div class="chat-body" id="chat-body">

                    <!-- messages start -->
                    <div v-for="(item,index) in (contacts[this.counter].messages)">
                        
                        <!-- message sent start -->
                        <div v-if="item.status=='sent'" class="row justify-start prelative">
                            <div v-if="item.status=='sent'" class="message sent prelative">
                                <span class="msg-container">
                                    <p>{{item.text}}</p>
                                    <div class="date">
                                        {{item.date}}
                                    </div>
                                </span>

                                <!-- hover see chevron start -->
                                <span :class="(item.current) ? 'opt-bg-sent-show' : 'opt-bg-sent'"></span>
                                <span :class="(item.current) ? 'chevron-show' : 'chevron'" @click="showSentOptions(index)"></span>
                                <!-- hover see chevron end -->

                                <!-- options start -->
                                <ul :class="(item.current) ? 'options-sent-active' : 'msg-options-sent'">
                                    <li>Info</li>
                                    <li class="delete" @click="deleteMsg(index)">Elimina</li>
                                </ul>
                                <!-- options end -->
                            </div>
                        </div>
                        <!-- message sent end -->

                        
                        
                        <!-- message received start -->
                        <div v-if="item.status=='received'" class="row justify-end prelative">
                            <div v-if="item.status=='received'" class="message received prelative">
                                <span class="msg-container">
                                    <p>{{item.text}}</p>
                                    <div class="date">
                                        {{item.date}}
                                    </div>
                                </span>

                                <!-- hover see chevron start -->
                                <span :class="(item.current) ? 'opt-bg-received-show' : 'opt-bg-received'"></span>
                                <span :class="(item.current) ? 'chevron-show' : 'chevron'" @click="showRecOptions(index)"></span>
                                <!-- hover see chevron end -->

                                <!-- options start -->
                                <ul :class="(item.current) ? 'options-received-active' : 'msg-options-received'">
                                    <li>Rispondi</li>
                                    <li>Inoltra</li>
                                </ul>
                                <!-- options end -->
                            </div> 

                            
                        </div>
                        <!-- message received end -->
                    </div> 
                    <!-- messages end -->

                </div>
                <!-- chat body end -->

                <!-- footer - chat input start -->
                <footer class="h-90 row align-center">
                    <div class="msg-container container-nested row justify-between align-center">
                        <i class="far fa-smile"></i>
                        <input type="text" id="msg" name="msg" v-model="newMsg" placeholder="Scrivi un messaggio" @keyup.enter="writeMsg()">
                        <i class="fas fa-microphone"></i>
                    </div>
                </footer>
                <!-- footer - chat input end -->
            </main>
            <!-- main - chat end -->
        </div>
        <!-- app container end -->
    </div>

    <!-- Script -->
    <script src="js/script.js"></script>
</body>
</html>